@model IEnumerable<Swas.Clients.Models.SolidWasteActInfoViewModel>
@using Swas.Clients.Common

@{
    ViewBag.Title = "მყარი ნარჩენების რეესტრი";
}

<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" id="viewBody">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase" style="font-family: mtavrulibold">მყარი ნარჩენების რეესტრი</span>
                </div>
                <div class="btn-group pull-right">


                    <div class="btn-group">
                        <button class="btn blue-madison btn-outline" type="button" id="filterButton">
                            <span class="glyphicon glyphicon-search"> </span>
                        </button>
                        @if (Globals.SessionContext.HasPermission("SolidWasteAct.Report"))
                        {
                            <button type="button" class="btn blue-madison btn-outline" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="glyphicon glyphicon-export"></i>
                            </button>

                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:;" id="detailReport">
                                        დეტალური მონაცემები
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" id="totalReport">
                                        დაჯგუფებული მონაცემები
                                    </a>
                                </li>
                            </ul>
                        }
                    </div>


                </div>

            </div>

            <div class="portlet light bordered" id="filterDiv" hidden>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group col-sm-3">
                                    <label for="ActDateFromPicker">შემოტანის თარიღი(-დან)</label>
                                    <div class="input-group">
                                        <div class="input-group date date-picker" id="ActDateFromPicker" data-date-format="dd/mm/yyyy">
                                            <input type="text" class="form-control" name="ActDateFrom" size="16" id="ActDateFrom">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <label for="ActDateTo">შემოტანის თარიღი(-მდე)</label>
                                    <div class="input-group">
                                        <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy">
                                            <input type="text" class="form-control" name="ActDateTo" id="ActDateTo">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="solidWasteActNumber">ჩანაწერის ნომერი</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="solidWasteActNumber">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="multi-prepend" class="control-label">მანქანის ნომერი</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allCarNumberSelected" checked>
                                        </span>
                                        <select id="carModelSearchCombo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>



                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label for="multi-prepend" class="control-label">რეგიონი</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allRegionSelected" checked>
                                        </span>
                                        <select id="regionSearchCombo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="multi-prepend" class="control-label">ნაგავსაყრელი</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allLandfillSelected" checked>
                                        </span>
                                        <select id="landfillSearchCombo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label for="multi-prepend" class="control-label">ნარჩენის სახეობა</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allWasteTypeSelected" checked>
                                        </span>
                                        <select id="wasteTypeSearchCombo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="multi-prepend" class="control-label">შემომტანი</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allCustomerSelected" checked>
                                        </span>
                                        <select id="customerSearchCombo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group col-sm-12">
                                    <div class="btn-group pull-right">
                                        <button class="btn red btn-outline" type="button" id="filterSolidWasteAct">
                                            <span class="glyphicon glyphicon-search"></span>
                                            ძიება
                                        </button>

                                        <button class="btn red btn-outline" type="button" id="cencelSolidWasteAct">
                                            <span class="glyphicon glyphicon-close"></span>
                                            გაუქმება
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <a id="ajax-model-dialog-editor" data-url="/home/NotFound" data-toggle="modal"> </a>
            <div id="ajax-modal" class="modal container fade" tabindex="-1" data-width="900" data-backdrop="static" data-keyboard="false"> </div>

            @if (Globals.SessionContext.HasPermission("SolidWasteActJunal.Detail"))
            {
                <input type="hidden" id="hasDetial" value="true" />
            }
            else
            {
                <input type="hidden" id="hasDetial" value="false" />
            }

            @if (Globals.SessionContext.HasPermission("SolidWasteActJunal.Print"))
            {
                <input type="hidden" id="hasPrint" value="true" />
            }
            else
            {
                <input type="hidden" id="hasPrint" value="false" />
            }

            @if (Globals.SessionContext.HasPermission("SolidWasteActJunal.Delete"))
            {
                <input type="hidden" id="hasDelete" value="true" />
            }
            else
            {
                <input type="hidden" id="hasDelete" value="false" />
            }


            @if (Globals.SessionContext.HasPermission("SolidWasteActJunal.Edit"))
            {
                <input type="hidden" id="hasEdit" value="true" />
            }
            else
            {
                <input type="hidden" id="hasEdit" value="false" />
            }

            @if (Globals.SessionContext.HasPermission("SolidWasteActJunal.History"))
            {
                <input type="hidden" id="hasHistory" value="true" />
            }
            else
            {
                <input type="hidden" id="hasHistory" value="false" />
            }



            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light" id="itemSource">
                    <thead>
                        <tr class="uppercase">
                            <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Id)</th>
                            <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.ActDate)</th>
                            <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.LandfillName)</th>
                            <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Receiver)</th>
                            <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Customer)</th>
                            <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.CarNumber)</th>
                            <th style="font-family: mtavrulibold; text-align:right;"> @Html.DisplayNameFor(model => model.Quantity)</th>
                            <th style="font-family: mtavrulibold; text-align:right;"> @Html.DisplayNameFor(model => model.Price)</th>
                            <th width="210px"></th>
                        </tr>
                    </thead>
                    @*<tbody></tbody>*@
                </table>
            </div>

            <hr>

            <div>
                <p style="text-align:right" id="tablePages"> </p>
            </div>
        </div>
    </div>

</div>

@section PageScripts{
    <script src="../assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js" type="text/javascript"></script>
    <script src="~/assets/script/SolidWasteActJunal/Register.js"></script>
}

