@model Swas.Clients.Models.SolidWasteActViewModel

@{
    Layout = null;
}

<div id="editorDialog">
    <div class="modal-header" style="vertical-align:middle">
        <button type="button" class="close" onclick="windowCloseClick()" aria-hidden="true"></button>
        <button type="button" id="windlowCloseHiddenButton" style="display: none;" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h5 class="modal-title font-blue-chambray" style="font-family: mtavrulibold; margin-top:10px;">პოლიგონზე მყარი ნარჩენებსი განთავსების აქტი</h5>
    </div>
    <div class="modal-body">
        <div class="row" id="createDiv">

            <div class="portlet-body form">
                <form action="#" class="form-horizontal form-row-seperated" id="registrationForm">
                    <div class="form-body">
                        <div class="alert alert-danger" hidden>

                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                შემოტანის თარიღი:
                            </div>
                            <div class="col-sm-4">

                                <div class="input-group date form_datetime" id="ActDateFromPicker">
                                    <input type="text" size="16" readonly class="form-control" name="ActDate" id="ActDate" value="@Model.ActDate.Month.ToString("00")/@Model.ActDate.Day.ToString("00")/@Model.ActDate.Year.ToString() @Model.ActDate.Hour.ToString("00"):@Model.ActDate.Minute.ToString("00")">
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                შემომტანის ტიპი:
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.LandTypeItemSource, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                ნაგავსაყრელი:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                @Html.DropDownList("LandfillId", (IEnumerable<SelectListItem>)ViewBag.LandfillItemSource, new { @class = "form-control select2" })
                            </div>
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                პირადი/ საინდენდიფიკაციო კოდი:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="CustomerCode" id="CustomerCode">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                მიმღების სახელი:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="ReceiverName" id="ReceiverName">
                            </div>
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                ფიზიკური/იურიდიული პირის დასახელება:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="CustomerName" id="CustomerName">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                მიმღების გვარი:
                            </div>
                            <div class="col-sm-4" style="text-align:left;">
                                <input type="text" class="form-control" name="ReceiverLastName" id="ReceiverLastName">
                            </div>
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                საკონტაქტო ინფორმაცია:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="CustomerContactInfo" id="CustomerContactInfo">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                მიმღების თანამდებობა:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="PositionName" id="PositionName">
                            </div>
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                იურიდიული პირის წარმომადგენელი:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="RepresentativeName" id="RepresentativeName">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                            </div>
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                ავტოსატრანსპორტო საშუალების ნომერი:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="TransporterCarNumber" id="TransporterCarNumber">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                            </div>
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                ავტომობილის მოდელი:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="TransporterCarModel" id="TransporterCarModel">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                            </div>
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">
                                მძღოლი:
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="text" class="form-control" name="TransporterDriverInfo" id="TransporterDriverInfo">
                            </div>
                        </div>


                        <div class="form-group col-sm-12" style="padding:10px;">

                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_15_1" data-toggle="tab" style="font-size:15px;">
                                            მყარი ნარჩენები
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_15_1">

                                        <span class="btn btn-xs default pull-right" style="margin-top:-60px;" data-target="#detailEditorDialog" data-toggle="modal" id="addWaste">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        <table id="SolidWastActDetailTable" class="table table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="height: 100%;vertical-align: middle; text-align: left;">დასახელება</th>
                                                    <th style="height: 100%;vertical-align: middle; text-align: center; width: 100px;">რ-ბ[ტონა]</th>
                                                    <th style="height: 100%;vertical-align: middle; text-align: center; width: 100px;">ერთეულის&#13;&#10;ფასი</th>
                                                    <th style="height: 100%;vertical-align: middle; text-align: center; width: 100px;">ჯამი</th>
                                                    <th style="height: 100%;vertical-align: middle; text-align: center;width: 79px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <div class="btn-group pull-right">
                                            <b>სულ:&nbsp&nbsp</b> <label id="totalSum">0 ₾</label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                        @*<div class="form-group col-sm-12" style="padding:10px;">
                                <div class="btn-group pull-right" style="margin-bottom:10px; margin-right:14px;">
                                    <a id="addWaste" class="btn default" data-target="#detailEditorDialog" data-toggle="modal">
                                        <i class="fa fa-plus"></i>
                                        მყარი ნარჩენის დამატება
                                    </a>
                                </div>

                                <div class="col-md-12">
                                </div>
                            </div>*@


                        <div class="form-group col-sm-12">
                            <div class="col-sm-2" style="text-align:right; font-size:13px;">შენიშვნა:</div>
                            <div class="col-sm-10" style="text-align:left">
                                <input type="text" class="form-control" name="Remark" id="Remark">
                            </div>
                        </div>


                        <div id="detailEditorDialog" class="modal fade" tabindex="-2" data-focus-on="input:first">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h5 class="modal-title font-blue-chambray" style="font-family: mtavrulibold; margin-top:10px;">ნარჩენის დამატება/რედაქტირება</h5>
                            </div>
                            <div class="modal-body">
                                <div id="wasteEditorErrorText" class="alert alert-danger display-hide">

                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label" style="text-align:right;" for="WasteTypeId">ნარჩენი</label>
                                    <div class="col-md-9">
                                        @Html.DropDownList("WasteTypeId", (IEnumerable<SelectListItem>)ViewBag.WasteTypeItemSource, new { @class = "form-control select2" })
                                        <div class="form-control-focus"> </div>
                                        <span class="help-block">აირჩიეთ ნარჩენი.</span>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label" for="form_control_1" style="text-align:right;">რაოდენობა</label>
                                    <div class="col-md-9">
                                        <div class="md-radio-list">

                                            <div class="md-radio">
                                                <input type="radio" id="radioQuantityTon" name="radioQuantity" class="md-radiobtn" checked value="1">
                                                <label for="radioQuantityTon">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    <div class="col-md-4 input-group" style="margin-top: -10px;">
                                                        <input type="text" class="form-control" id="TonQuantity" name="TonQuantity">
                                                        <div class="form-control-focus"> </div>
                                                        <span class="input-group-addon">ტ.</span>
                                                        <span style="margin-top: 0px; margin-left:10px;" class="help-block">შეიყვანეთ რაოდენობა ტონაში.</span>
                                                    </div>
                                                </label>
                                            </div>

                                            <div class="md-radio">
                                                <input type="radio" id="radioQuantityM3" name="radioQuantity" class="md-radiobtn" value="-1">
                                                <label for="radioQuantityM3">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    <div class="col-md-4 input-group" style="margin-top: -10px;">
                                                        <input type="text" class="form-control" id="M3Quantity" name="M3Quantity" />
                                                        <div class="form-control-focus"> </div>
                                                        <span class="input-group-addon">მ<sup>3</sup></span>
                                                        <span style="margin-top: 0px; margin-left:10px;" class="help-block">შეიყვანეთ რაოდენობა მ<sup>3</sup>-ში.</span>
                                                    </div>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <br />
                                <br />
                                <br />

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn green" id="btWasteSave">შენახვა</button>
                                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal" id="btWasteClose">გაუქმება</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <input type="hidden" id="isSaved" value="notSaved" />
        <div class="row" id="confirmInformation" hidden>

        </div>

        <div class="row" id="print" hidden>
            <p style="text-align:center; font-size:16px;"><b>აქტის შექმნა დასრულებულია.</b></p>
            <br />
            <br />
            <table align="center">
                <tr>
                    <td>
                        <a id="printData" href="javascript:;" target="_blank" class="icon-btn">
                            <i class="fa fa-print"></i>
                            <div> ბეჭდვა </div>
                        </a>

                        <a id="closeWindow" href="javascript:;" onclick="windowCloseClick()" class="icon-btn">
                                <i class="fa fa-close"></i>
                                <div> დახურვა </div>
                            </a>

                    </td>
                </tr>
            </table>

        </div>


    </div>

    <div class="modal-footer">
        <div class="btn-group pull-left display-hide" id="btEditDiv">
            <a id="btEdit" class="btn green">
                <i class="fa fa-chevron-left"></i>
                რედაქტირება
            </a>
        </div>

        <div class="btn-group pull-right" id="btNexDiv">
            <a class="btn grey-salsa btn-outline" data-dismiss="modal">
                <i class="fa fa-close"></i>
                გაუქმება
            </a>

            @*<button type="button" class="btn grey-salsa btn-outline" ></button>*@
            <a id="next" class="btn green">
                შემდეგი
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>

        <div class="btn-group pull-right display-hide" id="btSaveDiv">
            <a class="btn grey-salsa btn-outline" data-dismiss="modal">
                <i class="fa fa-close"></i>
                გაუქმება
            </a>

            <a id="btSave" class="btn green">
                <i class="fa fa-chevron-down"></i>
                დასრულება
            </a>
        </div>

    </div>

</div>

<script>
    var recieverItemSource = @Html.Raw(Json.Encode(Model.RecieverItemSource));
    var customerItemSource = @Html.Raw(Json.Encode(Model.CustomerItemSource));
    var transporterItemSource = @Html.Raw(Json.Encode(Model.TransporterItemSource));
</script>

<script src="~/assets/script/SolidWasteAct/Create.js"></script>

<script>


    $(".form_datetime").datetimepicker({
        autoclose: true,
        isRTL: App.isRTL(),
        format: "mm/dd/yyyy hh:ii",
        minuteStep: 1,
        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
    });



    $('#detailEditorDialog').on('shown.bs.modal', function () {
        $('#radioQuantityTon').focus();
    })


    function windowCloseClick() {
        if ( $('#isSaved').val() == 'saved')
            location.href = '/SolidWasteAct/Index';
        else
            windlowCloseHiddenButton.click();
    }
</script>
