@model IEnumerable<Swas.Clients.Models.SolidWasteActInfoViewModel>

@{
    ViewBag.Title = "მყარი ნარჩენების რეგისტრაცია";
}

<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" id="viewBody">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue bold uppercase" style="font-family: mtavrulibold">მყარი ნარჩენების რეგისტრაცია</span>
                </div>
                <div class="btn-group pull-right">

                    @*<div class="btn-group">
                        <button type="button" class="btn btn-default" onclick="javascript:create();">
                            <i class="fa fa-plus"></i>
                            ახალი აქტი
                        </button>
                        <button type="button" class="btn btn-default" id="filterButton">
                            <i class="fa fa-search"></i> ფილტრი
                        </button>
                    </div>*@

                    <button class="btn blue btn-outline"  onclick="javascript:create();">
                        <i class="fa fa-plus" style="margin-top:5px"></i>
                        ახალი აქტი
                    </button>

                    <button  class="btn blue btn-outline" type="button" id="filterButton" >
                        <span class="glyphicon glyphicon-search" style="margin-top:3px"></span>
                    </button>

                </div>

            </div>

            <div class="portlet light bordered" id="filterDiv" hidden>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="row">
                            <div>
                                <div class="form-group col-md-2">
                                    <label for="solidWasteActNumber">ჩანაწერის ნომერი</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="solidWasteActNumber">
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="ActDateFromPicker">შემოტანის თარიღი(-დან)</label>
                                    <div class="input-group">
                                        <div class="input-group input-medium date date-picker" id="ActDateFromPicker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            <input type="datetime" class="form-control" name="ActDateFrom" id="ActDateFrom"  readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="ActDateTo">შემოტანის თარიღი(-მდე)</label>
                                    <div class="input-group">
                                        <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            <input type="datetime" class="form-control" name="ActDateTo" id="ActDateTo" data-date-format="dd/mm/yyyy" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="multi-prepend" class="control-label">ნარჩენის სახეობა</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allWasteTypeSelected" checked>
                                        </span>
                                        <select id="wasteTypeSearchCombo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group col-md-4">
                                    <label for="multi-prepend" class="control-label">რეგიონი</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allRegionSelected" checked>
                                        </span>
                                        <select id="regionSearchCombo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="multi-prepend" class="control-label">ნაგავსაყრელი</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allWasteTypeSelected" checked>
                                        </span>
                                        <select id="wasteTypeSearchCom1bo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="multi-prepend" class="control-label">შემომტანი</label>
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="allCustomerSelected" checked>
                                        </span>
                                        <select id="customerSearchCombo" class="form-control select2" multiple disabled></select>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-group pull-right">

                                <button class="btn red btn-outline" type="button" id="filterSolidWasteAct">
                                    <span class="glyphicon glyphicon-search"></span>
                                    ძიება
                                </button>

                                <button class="btn red btn-outline" type="button" id="cencelSolidWasteAct">
                                    <span class="glyphicon glyphicon-close"></span>
                                    გაუქმება
                                </button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <a id="ajax-model-dialog-editor" data-url="/home/NotFound" data-toggle="modal"> </a>
            <div id="ajax-modal" class="modal container fade" tabindex="-1" data-width="900"  data-backdrop="static" data-keyboard="false" > </div>

            <div class="portlet-body">

                @*<div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>*@

                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light" id="itemSource">
                        <thead>
                            <tr class="uppercase">
                                <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Id)</th>
                                <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.ActDate)</th>
                                <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.LandfillName)</th>
                                <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Receiver)</th>
                                <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Customer)</th>
                                <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Quantity)</th>
                                <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Price)</th>
                                <th width="100px"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section PageScripts{
    <script src="~/assets/pages/scripts/SolidWasteAct/Index.js"></script>
    <script src="../assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
}

